@font-face {
    font-family: monospace;
    src: url('Kode_Mono/KodeMono-VariableFont_wght.ttf') format('truetype');
}

body {
    background-color: #e0e0e0;
    font-family: monospace;
}

