@font-face {
    font-family:monospace;
    src: url('Kode_Mono/KodeMono-VariableFont_wght.ttf') format('truetype');
}

menu {
    display: flex;
    list-style: none;
    padding: 2px 10px;
    background-color: bisque;
    border-radius: 5px;
    justify-content:space-around;
}

menu a {
    font-size: 22px;
    text-decoration: none;
    color:indianred;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-justify: unset;
}

header {
    font-family: monospace;
    text-align: center;
    justify-content: center;
    color: black ;
}
div {
    color: black;
}

article {
  image-orientation: flip;
  justify-content:start;
  align-self: flex-end;

}

table {
    margin: auto;
}

body {
    background-color: #e0e0e0;
    background-size: cover;
    background-position: center;
    font-family: monospace;
    color: black;
    font-size: larger;
    text-align: center;
    img {
        border-radius: 70%;
    }
    
    
}

table, th, td {
    border: 1px solid;
    padding: 10px;
    border-collapse: collapse;
    
}

footer {
    img {
        border-radius: 12px;
    }
    p {
        color: black;
        text-align: center;
    }
    div {
        text-align: left;
    }
}
